
/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url(/Folie1.PNG); !Hintergrundbild verwenden;
 background-repeat:no-repeat; !Hintergrundbild wird nicht wiederholt;
 background-size: cover;      !Parallax-Effekt - Hintergundbild ist bildschirmfüllend;
 overflow:hidden;             !Alle Body-Scrollbalken verstecken;
}


/*  ------------------------------------*/
/*  Standardpositionierung der DIV-Boxen*/
/*  ------------------------------------*/

#kopfbereich {
  position:fixed;            ! Position des  Kopfbereichs ist immer oben - FIX!;
  left:0px;                    ! Position ganz links;
  top: 0px;                     ! Position oben;
  border: 1px solid #1773D4;    ! Rahmenart und -farbe;
  background-color: #1773D4 ;    ! Hintergrundfarbe;
  width:100%;                ! Breite des Kopfbereichs;
  max-height: 100px;              ! Höhe des Kopfbereichs;
  z-index:4;                 ! Kopfbereich überlagert andere Bereiche;                
}
#logo {
  position:fixed;            ! Position des  Kopfbereichs ist immer oben - FIX!;
  left:0;                    ! Position ganz links;
  top:0;                     ! Position oben;
  border: 1px solid #1773D4;    ! Rahmenart und -farbe;
  background-color: #1773D4;    ! Hintergrundfarbe;
  width:2000px;                ! Breite des Kopfbereichs;
  height:150px;              ! Höhe des Kopfbereichs;
  z-index:3;                 ! Kopfbereich überlagert andere Bereiche;            
  }

#navibereich {
  position:fixed;            ! Position des Navibereichs immer links!;
  top: 100px;                ! Position unterhalb des Kopfbereiches;
  left:0;                    ! Position ganz links;
  margin-top:0px;            ! Außenabstand zum Kopfbereich;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  background-color:	#63b8ff;      ! Hintergrundfarbe;
  width:100%;                ! Breite des Navibereichs;
  height:50px;               ! Minimal-Höhe des Navibereichs;
  z-index:2;                 ! Kopfbereich überlagert andere Bereiche;                
}
#textbereich {
  position:fixed;            ! Position des Textbereichs immer in der Mitte!;
  left:0;                    ! Textbereich fängt ganz links an;
  right:0;                   ! …und geht bis ganz rechts;
  top:150px;                 ! Außenabstand zum Kopfbereich;
  padding-top:20px;          ! Innenabstand nach oben;
  padding-bottom:60px;       ! Innenabstand nach unten;
  padding-right:210px;       ! Außenabstand nach rechts;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  height:100%;               ! Höhe des Textbereichs;
  overflow-y: auto;          ! Zeige Scroillbalken automatisch;
  background-color:rgba(255,255,255,0.5); ! Hintergrund ist weiß mit 50 %iger Transparenz;
}
#newsbereich {
  position:fixed;            ! Position des Newsbereichs immer rechts!;
  right:0px;                 ! Rechtsausrichtung;
  top: 150px;                ! Position unterhalb des Kopfbereiches;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  background-color: #4199F2 ;   ! Hintergrundfarbe;
  width:200px;               ! Breite des Newsbereichs;
  min-height:300px;          ! Minimal-Höhe des Newsbereichs;
  z-index:2;                 ! Kopfbereich überlagert andere Bereiche;                
}
#fussbereich {
  position:fixed;            ! Position des Fußbereichs immer unten!;
  bottom: 0;                 ! Unten ausgerichtet!;
  left:0;                    ! Position ganz links;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  width: 100%;               ! Breite des Fussbereichs;
  background-color: #135CA8 ;    ! Hintergrundfarbe;
  height:50px;               ! Höhe des Fußbereichs;
  z-index:2;                 ! Kopfbereich überlagert andere Bereiche;
}

/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */

p {
font-family: 'Montserrat', sans-serif;  ! Festlegung der Schriftart;
font-style:normal;                                                 ! Festlegung des Schrifttyps;
font-size: 10px;                                                    ! Festlegung des Schriftgröße;
font-weight:normal;                                                ! Festlegung der Fettschrift;
color:#000000;                                                     ! Festlegung des Schriftfarbe;
}
.title {
font-size:24pt;                                                    ! Festlegung des Schriftgröße;
font-weight:bold;                                                  ! Festlegung der Fettschrift;
}

.header-title {
font-family:‘Montserrat’, sans-serif;   ! Festlegung der Schriftart;
font-size: 24pt;				! Festlegung des Schriftgröße;
font-weight: 700px;			! Festlegung des Fettschrift, hier können Sie auch bold angeben;
text-align:center;			! Schriftausrichtung, möglich ist left | center | right;
}

.header-image {
content:url(/LOGO 111.PNG); // Den Link zu einem Bild kann mit Hilfe von CSS festgelegt werden;
width:150px;  // Größe des Bildes wird festgelegt
float:left;  // Das Bild wird links angezeigt. Bei float:right wird es rechts angezeigt;
margin:5px;
}

/*  -----------------------------------------        */
/*  Menüformatierung                                 */
/*  -----------------------------------------        */

/*  Linkformatierung für das Menü übergreifend       */
.naviformat a, button {
  	font-family: 'Montserrat', sans-serif;
  	text-transform:uppercase;	! Verwende Großbuchstaben;
font-size:90%;            	! Festlegung des Schriftgröße;
	font-weight:700;		      ! Festlegung Fettschrift für Montserrat;
	color: rgb(0,0,0);		! Festlegung des Schriftfarbe (schwarz);
	display: block;			! Art der Anzeige als Blockelement;
	transition: all 0.3s ease-out 0s; ! Definition Übergang von Normal zu Hover;
	text-decoration:none;		! Keinen Unterstrich unterhalb des Menütitels;
  	line-height: 20px;		! Höhe der Zeile wird festgelegt;
  	padding: 5px 5px;			! Innenabstand nach links/rechts/oben/unten;
}
/*  Formatierung des Hauptmenüs (mainnav)                  */
.mainnav {
	text-align:left;          ! Textausrichtung rechtbündig;
	list-style-type: none;     ! es werden keine Aufzählungszeichen dargestellt;
	margin: 20px 5px;          ! Abstände nach oben/unten und rechts/links;
       padding: 0px 0px;          ! Innenabstand nach links/rechts/oben/unten;
}

.mainnav > li {
	float:left;	! Menüpunkte untereinander, bei float:left, nebeneinander;
}				
/*  Formatierung des aktiven Hauptmenüpunkts */
.mainnav > li > a.active {
	font-weight:700;		! Festlegung der Fettschrift, auch „bold“ möglich;
	text-shadow: 1px 1px black, 2px 2px grey, 3px 3px 	#696969; ! Text-Schatten;
  	color: rgba(F2F2F2);	! Festlegung des Schriftfarbe;
}
/*  Formatierung des Menüpunkts, wenn die Maus darüber fährt */
.mainnav > li > a:hover {
	font-weight:700;		! Festlegung der Fettschrift, auch „bold“ möglich;
	font-style:italic;	! Festlegung der Kursiv-Schrift;
	text-shadow: 1px 1px white, 2px 2px white, 3px 3px white; ! Text-Schatten;
  	background-color:rgba(255,255,255,0.7);   ! Hintergrundfarbe;
}

/*  -----------------------------------------        */
/*  Für Teaser (Blickfang)             	        */
/*  -----------------------------------------        */
.teaser {
	font-weight:bold;				! setze Schriftart und -gewicht;
	font-family:'Montserrat', sans-serif;
	padding: 5px 5px;				! Innenabstand für den Teaser;
	margin: 0 2px 4px 2px;			! Außenabstand nach unten zum nächsten Teaser;
	border-bottom: 1px solid #ccc;		! unten gibt es eine Begrenzungslinie;
}
.teaser_date {
	font-size:90%;                          ! etwas kleiner als die Standardschrift;
}
.teaser_title {
	font-size:110%;                         ! etwas größer als die Standardschrift;
	line-height:140%;
}
.teaser_text {
        line-height: 140%;                     ! Anpassung der Zeilenhöhe;
}
a.teaser_link {
padding-top: 4px;
color:black;
}
.teaser_border {
  color: #333;
  border: 2px solid #548b54;
}

